.scrollbar::-webkit-scrollbar {
    display:block;
    width:.65em;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
/*
Cant resize the track height, only width. For fixing it, its needed to change
the initial and end points of the 2 pieces that conform the scrollbar track
*/
.scrollbar::-webkit-scrollbar-track-piece:end {
    background-color: rgb(208, 208, 208);
    margin-bottom:.6em;
    border-radius: 1.25em;
}

.scrollbar::-webkit-scrollbar-track-piece:start {
    background-color: rgb(208, 208, 208);
    margin-top:.6em;
    border-radius: 1.25em;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(143, 143, 143);
    border-radius: .65em;
}