.login-error-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding:5em 4em;
    gap:.5em;
    background-color: white;
    border-radius: 1em;
    z-index: 50;
    border:.2em solid black;
}

.login-error-box h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:.5em;
    font-size: 1.8em;
}

.login-error-box i {
    font-size:2em;
    color:red;
}

.login-error-box button {
    border:none;
    padding:1em;
    font-size: 1em;
    border-radius: .5em;
    background-color: rgb(94, 29, 154);
    color:white;
    cursor:pointer;
    transition:.5s;
}

.login-error-box button:hover {
    background-color: rgb(55, 11, 95);
    transform: scale(1.1);
}
